extends layout

block content
  #screen
    #controls-top.controls
        #title MYST
        #mute
        #travel
          | travel:
          span modern
        #zoom
          | zoom:
          span 1x
      #panelwrapper
        .panel
        #guard